body {
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-family: "Arial", Helvetica;
    background: black;

}

#chart {
    position: absolute;
    left: 200px;
    margin-top: 20px;
}

#container{
	height: 500px;
}